##################################<br>
# Pandas Crash Course ###########<br>
################################<br>
We'll use pandas more than numpy in the Course<br>
so let's quickly go over a few main ideas with pandas!

In [1]:
import pandas as pd
import numpy as np

Reading in CSV files. Use the read_csv command.<br>
More options: https://pandas.pydata.org/pandas-docs/stable/io.html

In [2]:
df = pd.read_csv('salaries.csv')

In [5]:
df

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

You can select columns with a bracket call:

In [6]:
df['Name']

0      John
1     Sally
2    Alyssa
Name: Name, dtype: object

In [7]:
print(df['Salary'])

0     50000
1    120000
2     80000
Name: Salary, dtype: int64

Select multiple columns with a list of column names.<br>
Since you are passing in a list, you see two sets of []

In [8]:
print(df[['Name','Salary']])

     Name  Salary
0    John   50000
1   Sally  120000
2  Alyssa   80000

Similar to NumPy, you can create calls of min(), max(), mean(), etc...<br>
on a pandas dataframe.

In [9]:
print(df['Age'].mean())

35.333333333333336

Just like Numpy, we can use conditional filtering to select rows that meet<br>
certain critera. Like choosing rows where the Age value is greater than 30

In [ ]:
ser_of_bool = df['Age'] > 30
print(ser_of_bool)

Use this filter of booleans to then select the rows

In [10]:
age_filter = df['Age'] > 30

Pass it to the dataframe

In [11]:
print(df[age_filter])

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

More commonly done all in one step:

In [12]:
df[df['Age'] > 30]

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

There are lots of other commands you can do with pandas!<br>
But for now, we'll just talk about a few more, and then introduce the rest<br>
as we continue through the course :)

In [13]:
df['Age'].unique() # list of unique values for Age
df['Age'].nunique() # number of unqiue values
df.info() # General info about your dataframe
df.describe() # Statistics about your dataframe
df.columns # Grab a list of all columns
df.index # Create an index list
# You can convert a numpy matrix to a dataframe with:
mat = np.arange(50).reshape(5,10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Salary  3 non-null      int64
 2   Age     3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes